In [51]:
import pandas as pd

In [52]:
co = pd.read_csv('Content.csv')
co

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [53]:
co = co.drop(['Unnamed: 0','URL','User ID'],axis = 1)

In [54]:
co['Category'].value_counts()

technology           71
animals              67
travel               67
culture              63
science              63
fitness              61
food                 61
healthy eating       61
cooking              60
soccer               58
tennis               58
education            57
dogs                 56
studying             55
veganism             48
public speaking      48
Fitness               5
Animals               4
Science               4
"soccer"              3
"culture"             3
Soccer                3
"dogs"                2
Education             2
Studying              2
Travel                2
Food                  2
"veganism"            1
"public speaking"     1
Public Speaking       1
"technology"          1
"cooking"             1
Healthy Eating        1
"studying"            1
"food"                1
Culture               1
"tennis"              1
Technology            1
"animals"             1
Veganism              1
"science"             1
Name: Category, dtype: int64

In [55]:

co['Category'] = co['Category'].str.replace('"', '')

# Display the updated value counts
print(co['Category'].value_counts())

technology         72
animals            68
travel             67
culture            66
science            64
food               62
healthy eating     61
cooking            61
soccer             61
fitness            61
tennis             59
dogs               58
education          57
studying           56
veganism           49
public speaking    49
Fitness             5
Animals             4
Science             4
Soccer              3
Food                2
Studying            2
Education           2
Travel              2
Technology          1
Culture             1
Healthy Eating      1
Veganism            1
Public Speaking     1
Name: Category, dtype: int64

In [56]:
co['Category'] = co['Category'].replace({'technology': 'Technology','animals': 'Animals','travel': 'Travel','culture': 'Culture','science': 'Science','fitness': 'Fitness','food': 'Food','healthy eating': 'Healthy Eating','cooking': 'Cooking','soccer': 'Soccer','tennis': 'Tennis','education': 'Education','dogs': 'Dogs','studying': 'Studying','veganism': 'Veganism','public speaking': 'Public Speaking'})

In [57]:
co['Category'].value_counts()

Technology         73
Animals            72
Travel             69
Science            68
Culture            67
Fitness            66
Food               64
Soccer             64
Healthy Eating     62
Cooking            61
Tennis             59
Education          59
Studying           58
Dogs               58
Public Speaking    50
Veganism           50
Name: Category, dtype: int64

In [58]:
co

                               Content ID   Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2  photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo   Healthy Eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f  photo   Healthy Eating
3    356fff80-da4d-4785-9f43-bc1261031dc6  photo       Technology
4    01ab84dd-6364-4236-abbb-3f237db77180  video             Food
..                                    ...    ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb  video  Public Speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c    GIF       Technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b  audio         Veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7    GIF          Culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56  audio       Technology

[1000 rows x 3 columns]

In [59]:
co = co.rename(columns={'Type': 'Content_Type'})

In [60]:
co

                               Content ID Content_Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   Healthy Eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   Healthy Eating
3    356fff80-da4d-4785-9f43-bc1261031dc6        photo       Technology
4    01ab84dd-6364-4236-abbb-3f237db77180        video             Food
..                                    ...          ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb        video  Public Speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c          GIF       Technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b        audio         Veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7          GIF          Culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56        audio       Technology

[1000 rows x 3 columns]

In [61]:
co.to_csv('Content1.csv')

In [62]:
df = pd.read_csv('Content1.csv')
df

,Unnamed: 0,Content ID,Content_Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,Healthy Eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,Healthy Eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,Technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,Food
...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,video,Public Speaking
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,GIF,Technology
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,Veganism
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,Culture
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology

In [88]:
# Final content

In [63]:
re = pd.read_csv('Reactions.csv')
re

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...,...
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [64]:
re = re.drop(['Unnamed: 0','User ID'],axis = 1)

In [65]:
re = re.rename(columns={'Type': 'Reaction_Type'})

In [66]:
re['Reaction_Type'].isnull().sum()

980

In [67]:
re = re.dropna(subset=['Reaction_Type'])

In [68]:
re

                                 Content ID Reaction_Type             Datetime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
5      97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2020-08-23 12:25:58
...                                     ...           ...                  ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56       dislike  2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56     intrigued  2021-02-16 17:17:02
25550  75d6b589-7fae-4a6d-b0d0-752845150e56    interested  2020-09-12 03:54:58
25551  75d6b589-7fae-4a6d-b0d0-752845150e56       worried  2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56       cherish  2021-01-04 04:55:11

[24573 rows x 3 columns]

In [69]:
re.to_csv('Reaction1.csv')

In [70]:
df1 = pd.read_csv('Reaction1.csv')
df1

,Unnamed: 0,Content ID,Reaction_Type,Datetime
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58
...,...,...,...,...
24568,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48
24569,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02
24570,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58
24571,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31
24572,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11

In [ ]:
# final reaction

In [71]:
df

,Unnamed: 0,Content ID,Content_Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,Healthy Eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,Healthy Eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,Technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,Food
...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,video,Public Speaking
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,GIF,Technology
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,Veganism
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,Culture
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology

In [72]:
merged_data = pd.merge(df, df1, on='Content ID', how='left')
merged_data

,Unnamed: 0_x,Content ID,Content_Type,Category,Unnamed: 0_y,Reaction_Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,1.0,disgust,2020-11-07 09:43:50
1,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,2.0,dislike,2021-06-17 12:22:51
2,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,3.0,scared,2021-04-18 05:13:58
3,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,4.0,disgust,2021-01-06 19:13:01
4,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,5.0,interested,2020-08-23 12:25:58
...,...,...,...,...,...,...,...
24606,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,25548.0,dislike,2020-06-27 09:46:48
24607,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,25549.0,intrigued,2021-02-16 17:17:02
24608,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,25550.0,interested,2020-09-12 03:54:58
24609,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,25551.0,worried,2020-11-04 20:08:31
24610,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,25552.0,cherish,2021-01-04 04:55:11

In [73]:
df_f = merged_data.drop(['Unnamed: 0_x','Unnamed: 0_y'],axis = 1)
df_f

,Content ID,Content_Type,Category,Reaction_Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2020-11-07 09:43:50
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,dislike,2021-06-17 12:22:51
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,scared,2021-04-18 05:13:58
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-01-06 19:13:01
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,interested,2020-08-23 12:25:58
...,...,...,...,...,...
24606,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,dislike,2020-06-27 09:46:48
24607,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,intrigued,2021-02-16 17:17:02
24608,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,interested,2020-09-12 03:54:58
24609,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,worried,2020-11-04 20:08:31
24610,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,cherish,2021-01-04 04:55:11

In [74]:
df3 = pd.read_csv('ReactionTypes.csv')
df3

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [76]:
df3 = df3.drop('Unnamed: 0',axis =1)

In [77]:
df3 = df3.rename(columns={'Type': 'Reaction_Type'})
df3

   Reaction_Type Sentiment  Score
0          heart  positive     60
1           want  positive     70
2        disgust  negative      0
3           hate  negative      5
4     interested  positive     30
5    indifferent   neutral     20
6           love  positive     65
7     super love  positive     75
8        cherish  positive     70
9          adore  positive     72
10          like  positive     50
11       dislike  negative     10
12     intrigued  positive     45
13       peeking   neutral     35
14        scared  negative     15
15       worried  negative     12

In [78]:
merged_data1 = pd.merge(merged_data,df3, on='Reaction_Type', how='left')
merged_data1

,Unnamed: 0_x,Content ID,Content_Type,Category,Unnamed: 0_y,Reaction_Type,Datetime,Sentiment,Score
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,1.0,disgust,2020-11-07 09:43:50,negative,0.0
1,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,2.0,dislike,2021-06-17 12:22:51,negative,10.0
2,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,3.0,scared,2021-04-18 05:13:58,negative,15.0
3,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,4.0,disgust,2021-01-06 19:13:01,negative,0.0
4,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,5.0,interested,2020-08-23 12:25:58,positive,30.0
...,...,...,...,...,...,...,...,...,...
24606,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,25548.0,dislike,2020-06-27 09:46:48,negative,10.0
24607,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,25549.0,intrigued,2021-02-16 17:17:02,positive,45.0
24608,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,25550.0,interested,2020-09-12 03:54:58,positive,30.0
24609,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,25551.0,worried,2020-11-04 20:08:31,negative,12.0
24610,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,25552.0,cherish,2021-01-04 04:55:11,positive,70.0

In [80]:
df_f1 = merged_data1.drop(['Unnamed: 0_x','Unnamed: 0_y'],axis = 1)
df_f1

,Content ID,Content_Type,Category,Reaction_Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2020-11-07 09:43:50,negative,0.0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,dislike,2021-06-17 12:22:51,negative,10.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,scared,2021-04-18 05:13:58,negative,15.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-01-06 19:13:01,negative,0.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,interested,2020-08-23 12:25:58,positive,30.0
...,...,...,...,...,...,...,...
24606,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,dislike,2020-06-27 09:46:48,negative,10.0
24607,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,intrigued,2021-02-16 17:17:02,positive,45.0
24608,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,interested,2020-09-12 03:54:58,positive,30.0
24609,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,worried,2020-11-04 20:08:31,negative,12.0
24610,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,Technology,cherish,2021-01-04 04:55:11,positive,70.0

In [81]:
df_f1.to_csv('merged_final.csv')

In [87]:
df_v = df_f1[(df_f1['Category']) & (df_f1['Score'])]
df_v

TypeError: unsupported operand type(s) for &: 'str' and 'float'